.styled-table {
  border-collapse:  collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: sans-serif;

  width: 100%;
}
.styled-table thead {
  background-color: red;
  color: #ffffffff;
  text-align: left;
}

.container-table {
    width: 90vw;
    padding: 3vw;
    background-color: white;
    max-height: 70vh;
    overflow: scroll;

}
.sub-container {
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
}
.style-table thead tr {
  background-color: red;
 
}
.style-table  th,
.style-table td {
  padding:  200px 15px ;
}




.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879
}

.btn {
  border: none;
  color:  white;
  padding:  5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-edit {
  background-color: #81a135;
}

.btn-delete {
  background-color: aqua;



}
.btn-view {
  background-color: aquamarine;
  color: black;
}

.tab-content{
  flex: 4;
}